nav {
  height: 50px;
  background-color: lightgrey;
  border: 1px solid black;
}
.inline-block {
  padding: 15px;
  margin-right:5px;
  display: inline-block;
  border: 1px solid black;

  
}

.title{font-size: larger;}

.left {
  float: left;
  height: 500px;
  width: 30%;
  text-align: left;

}
.right {
  float: left;
  height: 500px;
  width: 70%;
  text-align: center;
}
#pet {
  height: 200px;
  float: left;
  padding-right: 15px;
  margin: 15px;
}
#kid { height: 300px;}
.card {
  display: inline-block;
  background-color: #C6C6C6;
  border-radius: 5px;
  height: 200px;
  width: 250px;
  margin: 15px;
  margin-top: 50px;
}
